body {
    margin: 0px;
    padding: 0px;
    background-color: #263E45;
    color: white;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#semestres {
    display: flex;
    height: 8fr;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.coef,.note {
    width: 2em;
}

#result {
    background-color: #759AA7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

td {
    padding: 2px;
    font-size: 13px;
}

.textNote {
    font-size: 25px;
    font-family: 'Galada', cursive;
}

.add {
    text-align: center;
}

input[type='number'] {
    background-color: rgba(2, 9, 11, 0.493);
    padding: 10px;
    color: white;
    border-radius: 2%;
    text-align: center;
    font-size: 21px;
    border:none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

caption {
    font-size: 25px;
    font-family: 'Galada', cursive;
}

input.noteSemestre {
    background-color: rgba(255, 255, 255, 0.4);
}